<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link rel="stylesheet" href="public/main-page.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="logo-container">
      <div class="logo">
        <img src="public/palestineflag.gif" height="50px" /><br />
        <img src="public/p-o.png" height="70px" />
      </div>
    </div>
    <div class="intro-text">
      <i>Palestine Online</i> is a collection of web pages created by
      Palestinians and allies, primarily in the late 90s and early
      00s, sourced from the Internet Archive’s
      <a
        class="content-link"
        target="_blank"
        href="https://web.archive.org"
        >Wayback Machine</a
      >. Included here are personal homepages, news websites and
      online magazines, sites showcasing Palestinian art and culture,
      and online memorials. <br /><br />
      Many of the pages here were created during or close to the
      Second Intifada, and demonstrate the overlooked yet rich early
      history of Palestinian internet presence, emphasizing the World
      Wide Web as a crucial tool for resistance, connection, and
      expression that has given Palestinians an unprecedented platform
      under ongoing occupation. Even though the internet has since
      drastically changed in size and structure, the stories,
      statements, and emotions in these pages mirror those found on
      platforms like Twitter and Instagram today.
      <br /><br />
      Additionally,
      <i>Palestine Online</i> interrogates how we engage in
      preservation of the digital space, which has become the primary
      commons for oppressed and silenced peoples around the world to
      make themselves heard, but at the same time is troubled by an
      ephemerality and constantly shifting form which risks plunging
      these voices back into obscurity. <br /><br />
    </div>
    <hr />
    <div class="how-to-use">
      <h2>How to Use</h2>

      <img class="use-icon" src="public/icons/l.png" height="28px" />
      <img class="use-icon" src="public/icons/r.gif" height="28px" />
      <span class="how-to-use-text"
        >Go to next or previous site in the collection</span
      >
      <br />

      <img class="use-icon" src="public/back.svg" height="28px" />
      <img class="use-icon" src="public/front.svg" height="28px" />
      <span class="how-to-use-text"
        >Navigate back and forward across all page history</span
      >
      <br />

      <img class="use-icon" src="public/home.svg" height="30px" />
      <span class="how-to-use-text"
        >Return to this home page and table of contents</span
      >
      <br />
      <img
        class="use-icon"
        src="public/netmeeting-1.svg"
        height="30px"
      />
      <span class="how-to-use-text"
        >Reload site, if you want to return to the first page of a
        particular site</span
      >
      <br />
      <img
        class="use-icon"
        src="public/icons/info.svg"
        height="30px"
      />
      <span class="how-to-use-text"
        >See current site info and/or notes</span
      >
      <br />
      <img
        class="use-icon"
        src="public/icons/search_web-1.svg"
        height="30px"
      />
      <span class="how-to-use-text"
        >Open page in wayback machine</span
      >
      <br />
      <img
        class="use-icon"
        src="public/icons/help_book_small-5.svg"
        height="30px"
      />
      <span class="how-to-use-text"
        >Go to random page in collection</span
      >
      <br />

      <img
        class="use-icon"
        src="public/frame_web-1.svg"
        height="30px"
      />
      Change Palestine Online's wallpaper
    </div>
    <hr />
    <div class="table-of-contents" id="contents">
      <h2>Table of Contents</h2>
      <% for(var i=1; i < data.length - 1; i++) { %> ⟡
      <a class="content-link" href="<%= data[i].id %>.html" target="_parent"
        ><%= data[i].title %></a
      >, <%= data[i].year %>
      <br />
      <% } %>
    </div>
    <hr />
    <div class="table-of-contents">
      <h2>Additional Links</h2>
      ⟡
      <a
        class="content-link"
        target="_blank"
        href="https://vice.com/en/article/5d9qab/palestine-internet-preserved-90s-gifs"
        >Palestine Online in Vice</a
      ><br />
      ⟡
      <a
        class="content-link"
        target="_blank"
        href="https://youtu.be/se8xwGSgfTQ?si=dW6oR2fC6gh3zMrd&t=5779"
        >Talk on Palestine Online @ Wordhack</a
      ><br />
      ⟡
      <a
        class="content-link"
        target="_blank"
        href="https://github.com/amad-a/palestine-online"
        >Source code on Github</a
      ><br /><br>
      <span class="intro-text">Email <a class="content-link" href="mailto:mail@palestineonline.net">mail@palestineonline.net</a> to report bugs, request a page or site be added, or provide any other feedback :)</span>



    </div>
  </body>
</html>
