#b1 {
  background-image: url('tiles/aqwa-man-tile-bg.jpg');
  background-repeat: repeat;
}
#b2 {
  background-image: url('tiles/arabic-html-tutorial-tile-bg.jpg');
  background-repeat: repeat;
}
#b3 {
  background-image: url('tiles/hadisoft-tile-bg.jpeg');
  background-repeat: repeat;
}
#b4 {
  background-image: url('tiles/jukebox-arabia-tile-bg.gif');
  background-repeat: repeat;
}
#b5 {
  background-image: url('tiles/lina-online-tile-bg.GIF');
  background-repeat: repeat;
}
#b6 {
  background-image: url('tiles/nidal-jayyousi-tile-bg.jpg');
  background-repeat: repeat;
}
#b7 {
  background-image: url('tiles/palestine-youth-union-tile-bg.jpg');
  background-repeat: repeat;
}
#b8 {
  background-image: url('tiles/people-of-palestine-tile-bg.gif');
  background-repeat: repeat;
}
#b9 {
  background-image: url('tiles/people-of-palestine-tile-bg.gif');
  background-repeat: repeat;
}
#b10 {
  background-image: url('tiles/rani-tile-bg.jpg');
  background-repeat: repeat;
}
#b11 {
  background-image: url('tiles/samia-halaby-1-tile-bg.gif');
  background-repeat: repeat;
}
#b12 {
  background-image: url('tiles/sharabati-tile-bg.JPG');
  background-repeat: repeat;
}
#b13 {
  background-image: url('tiles/zuhair-tile-bg.gif');
  background-repeat: repeat;
}

body {
  background-repeat: repeat;
}
