body {
  background-repeat: repeat;
  background-image: url('tiles/wallsky-tile-bg.gif');
  padding: 7.5px;
}

.logo  {
  font-family: arial;
  font-size: 24px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.logo {
  /* Center horizontally*/
  text-align: center;
}

.intro-text {
  font-size: 18px;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: green;
}

::selection {
  color: white;
  background: green;
}

.use-icon {
  margin: 0px 2px 2px 0px;
}

.how-to-use-text {
  margin: 0px 0px 0px 0px;
}

.how-to-use{
  padding-bottom: 20px;
  font-size: 18px;
}

/* hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
} */


h2 {
  font-style: italic;
  margin-top: 0px;
  padding-top: 10px;

}

.content-link {
font-size: 18px;
margin-bottom  : 10px;
color: blue;
text-decoration: underline;

}

.content-link:hover {
  font-style: italic;
  cursor: pointer;
}

.table-of-contents {
  padding-bottom: 15px;
}

.content-link:visited {
  color: blue;
}