.mobile-buttons-grid {
  display: none;
}

html {
  overflow: hidden;
  height: 100%;
  zoom: 1;
}

@font-face {
  font-family: 'Dom';
  src: url('fonts/dom/DomDiagonalBT.woff') format('woff');
}

@font-face {
  font-family: 'Monoid';
  src: url('fonts/monoid/Monoid-Retina.woff') format('woff');
}

@font-face {
  font-family: 'ArgentPixelCF';
  src: url('ArgentPixelCF-Italic.woff') format('woff');
}

.preso-header {
  font-family: 'ArgentPixelCF';
}

.divider {
  margin: 0px 3px 1px 5px;
  padding-bottom: 5px;
  font-size: 18px;
  color: #6f6f6f;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

iframe {
  height: 72vh;
}

/* @media only screen and (min-height  : 1100px) {
  html {
    zoom: 1.25;
  }
} */

/* @media only screen and (max-width: 480px) {
  .mobile-body {
    zoom: 1;
    display: grid;
    grid-template-columns: 1;
    align-items: center;
    margin: 0px;
    background-color: #b5b5b5;
    height: 100%;
  }

  iframe {
    height: 92.5vh;
  }

} */

.window-grid {
  display: inline-grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
  grid-gap: 0;
}

.loading {
  margin: 225px 500px 225px 350px;
  z-index: 1;
}

#info-panel-container {
  width: 760px;
  height: 580px;
  margin: 75px;
  outline: solid 1px black;
  display: flex;
  position: absolute;
  border: 2px solid black;
  background-color: rgb(255, 245, 129);
  opacity: 0.97;
  box-shadow: 3px 3px 3px rgb(0, 0, 0);
  height: max-content;
  padding-bottom: 10px;
}

.close-info-panel-button {
  position: absolute;
  top: 7.5px;
  right: 7.5px;
}

.notes-header {
  position: absolute;
  top: 10px;
  left: 10px;
  padding-left: 10px;
  font-size: 24px;
  font-family: serif;
  font-weight: bold;
  color: black;
  text-decoration: underline;
}

.notes-close-button:hover {
  cursor: pointer;
}

.info-panel-body {
  text-align: left;
  padding: 20px 20px 10px 20px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 50px;
}

.walkthru-window {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
  width: 800px;
  padding-bottom: 0px;
}

.title-bar-text {
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  font-size: 14px;
  padding-left: 2px;
  letter-spacing: 0.1px;
}

.walkthru-title {
  /* width: 50px; */
  grid-row-start: 0;
  grid-row-end: 0;
  grid-column-start: 2;
  grid-column-end: 2;
  text-align: center;
  font-size: 45px;
  padding-bottom: 20px;
  width: 800px;
  color: rgb(255, 0, 0);
  font-family: 'ArgentPixelCF';
}

/* h1 {
  background: -wopit-linear-gradient(90deg, #a50000, #ff5353);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5px;
  letter-spacing: 2px;
  font-size: 48px;
} */

.walkthru-left-arrow {
  justify-content: right;
  text-align: right;
  grid-column-start: 0;
  grid-column-end: 0;
  grid-row-start: 2;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 25px;
}

.walkthru-right-arrow {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 25px;
}

.walkthru-info {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  visibility: hidden;
}

#frame {
  max-height: 597px;
}

.frame {
  z-index: 999999;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 4px 5px 4px 5px;
  margin-top: 32.5px;
  font-family: 'Arial', Arial, sans-serif !important;
  font-style: oblique;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid black;
  background-color: rgb(255, 249, 180);
  color: black;
  opacity: 1;
  letter-spacing: 0.1px;
  width: max-content;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  box-shadow: 3px 3px 3px rgb(0, 0, 0);
}

.urltooltip {
  margin-top: 10px !important;
  margin-left: -145px !important;
  z-index: 1;
}

button {
  zoom: 1.25;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.infopanel {
  padding: 100px;
  width: 745px;
  height: 550px;

  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: left;
  padding: 3px 5px 3px 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  font-weight: bold;
  font-size: 14px;
  border: 2px solid black;
  background-color: rgb(255, 245, 129);
  color: black;
  opacity: 0.9;
  letter-spacing: 0.1px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  box-shadow: 3px 3px 3px rgb(0, 0, 0);
  margin: -240px 0px 400px 74px;
}

.noninteractive-grid {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 1;
  grid-gap: 100px;
}

.noninteractive-grid-1 {
  grid-column-start: 1;
  grid-column-end: 1;
}

.noninteractive-grid-2 {
  grid-column-start: 2;
  grid-column-end: 2;
}

#b0 {
  background-image: url('tiles/keffiyeh-dithered.gif');
  background-repeat: repeat;
}

iframe {
  background-color: white;
}

#b1 {
  background-image: url('tiles/aqwa-man-tile-bg.jpg');
  background-repeat: repeat;
}

#b2 {
  background-image: url('tiles/arabic-html-tutorial-tile-bg.jpg');
  background-repeat: repeat;
}

#b3 {
  background-image: url('tiles/hadisoft-tile-bg.jpeg');
  background-repeat: repeat;
}

#b4 {
  background-image: url('tiles/jukebox-arabia-tile-bg.gif');
  background-repeat: repeat;
}

#b5 {
  background-image: url('tiles/lina-online-tile-bg.GIF');
  background-repeat: repeat;
}

#b6 {
  background-image: url('tiles/nidal-jayyousi-tile-bg.jpg');
  background-repeat: repeat;
}

#b7 {
  /* change */
  background-image: url('tiles/palestine-youth-union-tile-bg.jpg');
  background-repeat: repeat;
}

#b8 {
  background-image: url('tiles/people-of-palestine-tile-bg.gif');
  background-repeat: repeat;
}

#b9 {
  background-image: url('tiles/zuhair-tile-bg.gif');
  background-repeat: repeat;
  background-size: 20%;
}

#b10 {
  background-image: url('tiles/rani-tile-bg.jpg');
  background-repeat: repeat;
}

#b11 {
  background-image: url('tiles/samia-halaby-1-tile-bg.gif');
  background-repeat: repeat;
}

#b12 {
  background-image: url('tiles/sharabati-tile-bg.JPG');
  background-repeat: repeat;
}

#b13 {
  /* change */

  background-image: url('tiles/pals2.gif');
  background-repeat: repeat;
}

#b14 {
  background-image: url('tiles/back1.jpg');
  background-repeat: repeat;
}

#b15 {
  background-image: url('tiles/back4.jpg');
  background-repeat: repeat;
}

#b16 {
  background-image: url('tiles/hanthbg.gif');
  background-repeat: repeat;
}

#b17 {
  background-image: url('tiles/cloudtil.jpg');
  background-repeat: repeat;
}

#b18 {
  background-image: url('tiles/welcome.gif');
  background-repeat: repeat;
}

#b19 {
  background-image: url('tiles/back.jpg');
  background-repeat: repeat;
}

#b20 {
  background-image: url('tiles/starz.jpg');
  background-repeat: repeat;
}

body {
  background-repeat: repeat;
}

.status-bar {
  height: 30px !important;
  width: fit-content !important;
  align-items: right !important;
}

p.status-bar-field {
  font-family: 'Arial Narrow', Arial, sans-serif !important;
  font-size: 18px !important;
  width: fit-content !important;
  padding: 3px 10px 2px 10px;
  height: 22px;
}

p.status-bar-field:hover {
  font-family: 'Arial Narrow', Arial, sans-serif !important;
  width: fit-content !important;
  /* padding: 3px 10px 5px 10px; */
  background-color: blue;
  color: white;
  cursor: pointer;
}

select {
  font-family: 'Arial Narrow', Arial, sans-serif !important;
  font-size: 14px;
  scale: 1.3;
  width: 300px;
  margin-left: 60px !important;
}

.goto {
  font-family: 'Arial Narrow', Arial, sans-serif !important;
  font-size: 14px;
  scale: 1.3;
  margin-left: 20px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 6H4v1h1v1h1v1h1v1h1V9h1V8h1V7h1V6z' fill='%23000'/%3E%3C/svg%3E");
  background-position: top 2px right 2px;
  background-repeat: no-repeat;
  border-radius: 0;
  padding-right: 0px;
  position: relative;
}

.dropdown {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 6H4v1h1v1h1v1h1v1h1V9h1V8h1V7h1V6z' fill='%23000'/%3E%3C/svg%3E");
  background-position: top 2px right 2px;
  background-repeat: no-repeat;
  border-radius: 0;
  padding: 0px;
  margin: 0px;
  position: relative;
  width: 22px;
  height: 22px;
  scale: 1.5;
  margin-left: -27px;
  margin-top: 5px;
}

.dropdown:active {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h16v17H0V0zm1 16h14V1H1v15z' fill='gray'/%3E%3Cpath fill='silver' d='M1 1h14v15H1z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 7H5v1h1v1h1v1h1v1h1v-1h1V9h1V8h1V7z' fill='%23000'/%3E%3C/svg%3E");
}

.dropdown:hover {
  cursor: pointer;
}

pre {
  background: #fff;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey,
    inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
  display: block;
  margin: 0;
  padding: 5px 8px 2px 8px;
  height: 24px;
  font-family: 'Arial Narrow', Arial, sans-serif !important;
  font-size: 18px;
  width: 100%;
}

.dropdown-container {
  display: flex;
  width: 400px;
}

.dropdown-content {
  position: relative;
  overflow: hidden;
  max-height: 0;
  /* transition: max-height 0.1s ease-in-out; */
  background-color: white;
  position: absolute;
  overflow-y: scroll;
  width: 397px;

  margin: 50px auto;
  font-family: Arial, sans-serif;
  margin: 30px 0px 0px 0px;
  /* box-shadow: 10px; */
  scrollbar-color: auto !important;

  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff,
    inset -2px -2px grey, inset 2px 2px #dfdfdf;
}

.dropdown-content .fade {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

/* Class to open the dropdown */
.dropdown-content.open {
  height: 500px;
  max-height: 500px;
  /* Adjust this value to fit the content height */
  margin-top: 28px;
  /* box-shadow: 3px 3px 3px rgb(0, 0, 0);
  box-shadow: 10px 5px 5px red; */

  clip-path: inset(0px -15px 0px 0px);
  border-right: 1px solid black(183, 118, 118);
  border-top: 0px;
  z-index: 999;
}

::-webkit-scrollbar {
  width: 22px;
}
*::-webkit-scrollbar-button {
  all: initial !important;
}
*::-webkit-scrollbar-track {
  all: initial !important;
}
*::-webkit-scrollbar-track-piece {
  all: initial !important;
}
*::-webkit-scrollbar-corner {
  all: initial !important;
}
*::-webkit-resizer {
  all: initial !important;
}

ul.tree-view {
  min-height: 500px;
  background: #fff;
  border: 0px solid white !important;
  display: block;
  margin: 0;
  padding: 6px;
  z-index: 400;
  font-family: 'Arial Narrow', Arial, sans-serif !important;
  font-size: 18px !important;
  font-weight: 200;
}

ul.tree-view a {
  color: blue !important;
  text-decoration: underline !important;
}

ul.tree-view ul {
  border-left: 1px solid black !important;
  margin-left: 4px !important;
  padding-left: 16px !important;
}

ul.tree-view ul > li:before {
  border-bottom: 1px solid black !important;
  content: '';
  display: block;
  left: -16px;
  position: absolute;
  top: 6px;
  width: 12px;
}

ul.tree-view details > summary:before {
  background-color: #fff;
  border: 1px solid black !important;
  content: '+';
  display: block;
  float: left;
  height: 10px !important;
  line-height: 8px;
  margin-right: 5px;
  padding-left: 4px;
  padding-right: 2px !important;
  padding: 2px !important;
  padding-top: 2px !important;
  font-family: monospace !important;
  font-size: 17px;
  font-weight: bold;

  text-align: center;
  width: 10px !important;
}

ul.tree-view li,
ul.tree-view ul {
  margin-top: 0px !important;
  /* margin-bottom: -2px !important; */
}

/* Change cursor to pointer when hovering over the body */
body:hover {
  cursor: pointer;
}

/* Ensure children do not inherit the pointer cursor */
body * {
  cursor: default;
  /* or any other cursor style you prefer */
  /* pointer-events: auto; */
  /* Ensure children can still be clicked */
}

.menu-link:hover {
  cursor: pointer;
  color: white !important;
  background-color: blue;
}

input[type='image' i]:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1024px) and (max-height: 768px) {
  .walkthru-window {
    width: 99.6vw;
    height: 100vh;
  }

  .window-grid {
    width: 100vw;
    height: 100vh;
  }

  #frame {
    height: calc(100vh - 90px);
    max-height: calc(100vh - 102px);
  }

  .walkthru-window {
    max-height: 100vh;
  }

  button {
    zoom: 1.4;
  }

  body {
    margin: 0px;
  }

  ul.tree-view details > summary:before {
    font-family: monospace !important;
  }

  ul.tree-view {
    box-shadow: initial;
    border: 0px;
  }
}

@media only screen and (min-width: 1200px) and (min-height: 900px) {
  :root {
    scale: 1;
  }

  ul.tree-view {
    font-family: 'Arial Narrow', Arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: 200;
  }
}

@media only screen and (max-width: 450px) {

  ul.tree-view {
    font-family: 'Arial Narrow', Arial, sans-serif !important;
    font-size: 18px !important;
    font-weight: 200;
  }

  button {
    cursor: pointer;
  }

  button:focus, input[type='reset']:focus, input[type='submit']:focus {
    outline: 0px dotted #000;
    outline-offset: -4px;
  }

  .title-bar {
    visibility: none;
  }

  #frame {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 85dvh;
    min-height: 85dvh;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 999998;
    max-height: 100%;
  }

  .window {
    width: 0vw;
    position: absolute;
  }

  body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: fixed;
  }

  :root {
    overflow: hidden;
  }

  #frame-container {
    height: 92vh;
  }

  .mobile-buttons-grid > button {
    font-family: 'Arial Narrow', Arial, sans-serif !important;
    font-size: 18px;

    font-weight: bold;
    padding: 6px 0px 6px 0px;
    zoom: 1.0;
    /* height: 50px; */
  }

  .mobile-buttons-grid {
    gap: 0px;
    display: grid;
    position: fixed;
    padding-bottom: 3vh;
    background-color: silver;
    z-index: 999999;
    grid-template-columns: repeat(5, 20vw);
    grid-template-rows: repeat(2, 6dvh);
    bottom: 0vh;
    position: device-fixed;
  }

  #zoomSlider {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 0;
    grid-row-end: 0;
    padding: 0px 10px 0px 10px
  }

  .slider-label {
    font-size: 40px;
  }

  input[type='range']::-webkit-slider-thumb {
    background-image: url('icons/magnifying_glass-1.svg');
    background-size: cover;  
    width: 30px;
    height: 30px;
    margin-top: -5px;
  }

}

@media only screen and (max-width: 375px) and (max-height: 700px) {
  
  .mobile-buttons-grid {
    grid-template-rows: repeat(2, 8.5dvh);
  }

  #frame {
    height: 83dvh;
    max-height: 83dvh;
    min-height: 83dvh;
  }

}

@media(hover: hover) and (pointer: fine) {
  .mobile-button-graphic:hover .mobile-button-graphic:active {
    height: 28px;
    cursor: pointer;
  }

  .mobile-button:hover .mobile-button:active {
    box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf, inset 2px 2px grey;
    text-shadow: 1px 1px #222;
  }
}
